{% extends 'mailing/base.html' %}
{% load mailing_tags %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex flex-column align-items-center mb-4">
        <h2 class="text-center mb-4">Мои клиенты</h2>
        <a href="{% url 'mailing:client_create' %}" class="btn btn-primary">Добавить клиента</a>
    </div>

    {% if clients %}
        <div class="list-group">
            {% for client in clients %}
                <a href="{% url 'mailing:client_detail' client.pk %}" class="list-group-item list-group-item-action">
                    {{ forloop.counter }}. {{ client.full_name }} — {{ client.email }}
                </a>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation" class="mt-4">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  &laquo;
                </a>
              </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  &raquo;
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
    {% else %}
        <p class="text-center">У вас пока нет сообщений.</p>
    {% endif %}
</div>
{% endblock %}
